DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/etf_tracker
TEST_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/etf_tracker_test
LINE_NOTIFY_TOKEN=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
